.advantage-card {
  border: 1px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 40%;
    height: 322px;
    box-sizing: border-box;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    flex-grow: 0;
  }
}

.advantage-card__title {
  @include montsReg;
  @include fontStyle(22px,22px);
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
}

.advantage-card__desc {
  @include montsReg;
  @include fontStyle(16px,16px);
  margin: 0;
  padding: 20px 40px 40px;
  text-align: center;
}

.advantage-card__icon-wrapper {
  text-align: center;
}

.advantage-card__link {
  @include montsReg;
  @include fontStyle(16px,16px);
  color: #0078B3;
  border-bottom: 1px solid #0078B3;
}

.advantage-card__link-wrapper {
  text-align: center;
}
