.advantage__title {
  @include montsSemi;
  @include fontStyle(30px,32px);
  padding: 0 20px;
  margin: 0;
  position: relative;
  display: inline-block;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    left: 0;
    height: 3px;
    margin-top: 2px;
    background: #69caf7;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 100vw;
      left: auto;
      height: 3px;
      margin-top: 2px;
      background: #69caf7;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
  }
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantage__item {
  padding: 0 20px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: flex;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 12.5%;
    margin-top: 70px;
  }
}

.advantage__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantage__img img {
  @media (min-width: $desktop-width) {
    width: 696px;
  }
}
