.directions-card {
  border: 1px solid #f2f2f2;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    height: 270px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    height: 340px;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
    transition: 0.5s;

    @media (min-width: $desktop-width) {
      transform: scale(1.1);
    }
  }
}

.directions-card__title {
  @include montsReg;
  @include fontStyle(22px, 22px);
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    @include fontStyle(26px, 26px);
  }
}

.directions-card__desc {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin: 0;
  padding: 20px 20px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    @include fontStyle(17px, 20px);
  }
}

.directions-card__icon-wrapper {
  text-align: center;

  @media (min-width: $desktop-width) {
    min-width: 50px;
  }
}
