.directions__title {
  @include montsSemi;
  @include fontStyle(30px, 32px);
  margin: 20px 0 0 0;
  padding: 0 20px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  text-align: start;

  @media (max-width: 350px) {
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    left: 0;
    height: 3px;
    margin-top: 2px;
    background: #69caf7;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 100vw;
      left: auto;
      height: 3px;
      margin-top: 2px;
      background: #69caf7;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(42px, 42px);
    margin-top: 70px;
  }
}

.directions__desc {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin: 20px 0 0 0;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 20px);
    padding: 0 162px;
  }
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0 132px;
  }
}

.directions__item {
  padding: 0 20px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    box-sizing: border-box;
  }
}

.directions__link-more {
  cursor: pointer;
}

.directions__link-more-desc {
  @include montsReg;
  @include fontStyle(16px, 16px, #0078b3);
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #0078b3;
  display: inline-block;

  @media (min-width: $tablet-width) {
    @include fontStyle(22px, 22px, #0078b3);
  }
}

.directions__link-more-wrapper {
  text-align: center;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
}
