.directions__title {
  @include montsSemi;
  @include fontStyle(30px, 32px);
  margin: 20px 0 0 0;
  padding: 0 20px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  text-align: start;

  @media (max-width: 350px) {
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    left: 0;
    height: 3px;
    margin-top: 2px;
    background: #69caf7;
    z-index: -1;
  }
}

.directions__desc {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin: 20px 0 0 0;
  padding: 0 20px;
  text-align: center;
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.directions__item {
  padding: 0 20px;
  margin-top: 50px;
}

.directions__link-more-desc {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0078b3;
  border-bottom: 1px solid #0078b3;
  display: inline-block;
}

.directions__link-more-wrapper {
  text-align: center;
  margin-top: 20px;
}
