.directions-card {
  border: 1px solid #f2f2f2;
  padding: 20px 0;
}

.directions-card__title {
  @include montsReg;
  @include fontStyle(22px, 22px);
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
}

.directions-card__desc {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin: 0;
  padding: 20px 20px 0;
  text-align: center;
}

.directions-card__icon-wrapper {
  text-align: center;
}
