.doctors__title {
  @include montsSemi;
  @include fontStyle(22px, 22px);
  margin: 30px 0 30px;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fontStyle(24px, 24px);
    padding: 0 30px 0 197px;
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(32px, 32px);
    padding: 0 50px 0 26%;
    text-align: unset;
  }
}

.doctors__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 30px 0 320px;
  }
}

.doctors__item {
  padding: 0 20px;
  margin: 20px auto 20px;

  @media (min-width: $tablet-width) {
    margin: 20px auto 0;
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 30px;
  }
}
