.landing {
  background-image: url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.landing__title {
  @include montsSemi;
  @include fontStyle(20px,20px)
  margin: 0;
  padding: 0 20px 30px;
}

.landing__slogan {
  @include montsReg;
  @include fontStyle(16px,16px)
  margin: 0;
  padding: 0 20px;
}
