.landing {
  background-image: url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 140px 0 154px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 600px;
      z-index: -1;
      background-size: cover;
      background-image: url("../img/background-tablet.jpg");
    }
  }

  @media (min-width: 811px) {
    padding: 140px 0 180px;
  }
}

.landing__title {
  @include montsSemi;
  @include fontStyle(20px, 20px)
  margin: 0;
  padding: 0 20px 30px;

  @media (min-width: $tablet-width) {
    @include fontStyle(26px, 26px);
    padding: 0 70px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 30px;
  }
}

.landing__slogan {
  @include montsReg;
  @include fontStyle(16px, 16px)
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px, 20px);
  }
}
