.link {

  &--landing {
    margin-top: 52px;
    background-color: #0078B3;
    padding: 12px 25px 12px 25px;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $desktop-width) {
      margin: 52px auto 0 162px;
    }
  }
}
