.list {
  @include montsReg;
  @include fontStyle(16px, 26px);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: start;

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 26px);
  }
}

.list--menu {
  margin: 20px 0 0 0;
  padding: 0 20px 0 50px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
    margin: 20px 30px 20px 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 70px 20px 330px;
  }
}

.list__item {
  position: relative;
}

.list__item--circle {
  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid #5b8ba9;
    border-radius: 60%;
    left: -30px;
    top: 4px;
    background-color: #f0f8ff;
  }
}

.list--requisites {
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}