.main-nav {
  position: relative;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-height: 65px;
}

.main-nav__list {
  @include montsReg;
  @include fontStyle(20px, 20px);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-nav__item {
  text-decoration: none;
  display: block;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;

  &--active {
    border-bottom: 2px solid #69caf7;
  }

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

.main-nav__toggle {
  border: 0;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 2;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #ffffff;
}

.main-nav--closed .main-nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 2;
  width: 24px;
  height: 18px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 18px;
    background-image: url(../img/icon-mobile-menu.svg);
  }
}

.main-nav--opened .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    width: 18px;
    height: 18px;
    background-image: url(../img/icon-close.svg);
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav__logo {
  display: flex;
  align-items: center;
}

.main-nav__logo-title {
  @include montsSemi;
  text-transform: lowercase;
  max-width: 120px;
}
