.news__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 132px;
  }
}

.news__item {
  padding: 0 20px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.news__title {
  @include montsSemi;
  @include fontStyle(30px,32px);
  margin: 20px 0 0 0;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    left: 0;
    height: 3px;
    margin-top: 2px;
    background: #69caf7;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 100vw;
      left: auto;
      height: 3px;
      margin-top: 2px;
      background: #69caf7;
      z-index: -1;
    }
  }
}

.news__link {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}
