.product {
  border-collapse: collapse;
  margin: 30px 20px 20px 20px;
}

.product__title {
  @include montsSemi;
  @include fontStyle(24px, 24px);
  padding-bottom: 20px;
}


.product__line {
  border: 2px solid #f5f5f5;
}

.product__code {
  @include montsReg;
  @include fontStyle(14px, 14px, #919191);
}

.product__field {
  @include montsReg;
  @include fontStyle(14px, 14px);
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 205px;

  &::before {
    content: "Ð’01.001.001";
    @include montsReg;
    color: #919191;
    position: absolute;
    top: 12px;
  }
}

.product__value {
  @include montsReg;
  @include fontStyle(16px, 16px);
}
