.stock-card {
  border: 1px solid #f2f2f2;
}
.stock-card__desc {
  @include montsReg;
  @include fontStyle(16px,16px);
  margin: 0;
  padding: 0 40px 40px 40px;
  text-align: center;
}

.stock-card__icon-wrapper {
  text-align: center;
  padding-top: 40px;
}

.stock-card__link {
  display: block;
  margin-top: 40px;
}
