.stock-card {
  border: 1px solid #f2f2f2;
}
.stock-card__desc {
  @include montsReg;
  @include fontStyle(16px,16px);
  margin: 0;
  padding: 0 40px 40px 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 240px;
    margin: 0 auto;
  }
}

.stock-card__icon-wrapper {
  text-align: center;
  padding-top: 40px;
}

.stock-card__link {
  display: block;
  margin-top: 40px;
}

.stock-card:hover {
  cursor: pointer;
  @media (min-width: $tablet-width) {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  }
}
