.doctor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 20px 0;
  border: 1px solid #f2f2f2;
  max-width: 420px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
  }
}

.doctor-card__title {
  @include montsSemi;
  @include fontStyle(22px, 22px);
  margin: 0;
  padding: 16px 0 0 9px;
  text-align: center;
}

.doctor-card__desc {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin: 0;
  padding: 12px 6px 0 6px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.doctor-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
  transition: .5s;
}
