.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
        "input1 input4"
        "input2 input4"
        "input3 input5";
  }
}

.form__title {
  @include montsReg;
  @include fontStyle(16px,16px);
  color: #111111;
  margin: 30px 20px 20px;
  padding: 0;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin: 30px 30px 20px 280px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 20px);
    margin-left: 35%;
  }
}

.form__input {
  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: 1300px) and (max-width: 1450px) {
    width: 210px;
  }

  &:hover {
    outline: 1px solid #69caf7;
  }
}

.form__input[placeholder],
.form__textarea[placeholder] {
  @include montsReg;
  @include fontStyle(14px,14px);
  color: #444444;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form__input-wrapper {
  margin: 20px 0 0;
  padding: 0 20px 0 50px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin: 20px 30px 20px 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 70px 20px 37%;
    padding: 0;
  }
}

.form__textarea {
  padding: 0;
  max-width: 180px;

  &:hover {
    outline: 1px solid #69caf7;
  }

  @media (min-width: $tablet-width) {
    min-width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0px 0px;
    min-width: 450px;
    min-height: 17.1vh;
  }
}

.form__textarea-wrapper {
  margin: 0 auto;
  padding: 0 20px 0 70px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin: 20px 30px 20px 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 50px;
    padding-left: 16px;
    grid-area: input4;
  }
}

.form__button {
  @include montsReg;
  @include fontStyle(14px,14px);
  border: 0;
  border-radius: 14px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #396b92;
  padding: 10px 25px 10px 25px;

  @media (min-width: $tablet-width) {
    @include fontStyle(16px, 18px);
    color: #ffffff;
    grid-area: input5;
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 20px);
    color: #ffffff;
    padding: 15px 50px 15px 50px;
    grid-area: input5;
  }

  &:hover {
    opacity: 0.7;
  }
}

.form__button-wrapper {
  margin: 30px auto 20px;

  @media (min-width: $tablet-width) {
    margin: 30px 0 20px 385px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 50px;
    padding: 61px 0 0;
  }
}

.form__label {
  @media (max-width: $tablet-width - 1) {
    margin: 0 auto;
  } 
}

.form__label--name {
  grid-area: input1;
}

.form__label--tel {
  grid-area: input2;
}

.form__label--email {
  grid-area: input3;
}

.form__title--msg {

  @media (max-width: $tablet-width - 1) {
    margin: 30px auto;
  }

  @media (min-width: $desktop-width) {
    grid-area: input4;
    margin: 30px 0 0 50px;
  }
}