.page-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;

  @media (min-width: $tablet-width) {
    background-color: unset;
  }
}

.page-header--white {
  @media (min-width: $tablet-width) {
    background-color: white;
  }
}
