.product {
  border-collapse: collapse;
  margin: 30px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 30px 30px 20px 280px;
    width: 95%;
  }

  @media (min-width: $desktop-width) {
    margin: 50px 70px 20px 330px;
  }
}

.product--inner {
  @media (min-width: $tablet-width) {
    width: unset;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}

.product__code {
  @include montsReg;
  color: #919191;
  position: absolute;
  top: 12px;
}


.product__title {
  @include montsSemi;
  @include fontStyle(24px, 24px);
  padding-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    @include fontStyle(32px, 32px);
    padding-bottom: 50px;
    padding-top: 50px;
  }
}


.product__line {
  border: 2px solid #f5f5f5;

  &:hover {
    box-shadow: 0 3px 13px 0 rgba(0,0,0,0.10);
  }
}

.product__code {
  @include montsReg;
  @include fontStyle(14px, 14px, #919191);
}

.product__field {
  @include montsReg;
  @include fontStyle(16px, 16px);
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 18px);
    width: 670px;
    padding-left: 20px;
    box-sizing: border-box;
  }
}

.product__value {
  @include montsReg;
  @include fontStyle(16px, 16px);
  min-width: 85px;

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 18px);
    text-align: center;
  }
}

.product__menu-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 25%;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }

  @media (min-width: 1600px) {
    left: 170px;
  }
}

.product__menu-list--absolute {
  position: absolute;
}

.product__menu-item {
  @include montsReg;
  @include fontStyle(16px, 16px);
  margin-bottom: 14px;
  cursor: pointer;
  position: relative;

  @media (min-width: $desktop-width) {
    @include fontStyle(18px, 18px);
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 20px;
      left: 0;
      background: #51c8ff;
    }
  }
}

.product__menu-item a {
  color: #000000;
}

.product__menu-item a:hover {
  opacity: .6;
}

.product__menu-item a:active {
  color: #51c8ff;
}

.product__menu-item--active {
  display: inline-block;
  color: #014f73;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 20px;
    left: 0;
    background: #51c8ff;
    }
}

.menu-list--position {
  position: absolute;
  margin-top: 30%;
}

.product__wrapper {
  @media (min-width: $tablet-width) {
    display: flex
  }
}
