.stock__title {
  @include montsSemi;
  @include fontStyle(30px,32px);
  margin: 20px 0 0 0;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    left: 0;
    height: 3px;
    margin-top: 2px;
    background: #69caf7;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 100vw;
      left: auto;
      height: 3px;
      margin-top: 2px;
      background: #69caf7;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(42px, 42px);
    margin-top: 70px;
  }
}

.stock__list {
  list-style: none;
  margin: 0;
  padding: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.stock__item {
  margin: 0 20px 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 30px 20px;
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 25%;
    margin: 0;
  }
}
